#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;

}

img {
    width: 100%;
}

h3 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

p {
    margin-top: 0em;
}

body {
    background-color: rgb(10, 13, 2);
    color: white;
    margin: 2em;
}

h1 {
    text-align: center;
    font-size: 3em;
}

select {
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: bold;
}